:root {
  --hue-primary: 14;
  --sat-primary: 100;
  --light-primary: 50;

  --hue-secondary: 140;
  --sat-secondary: 100;
  --light-secondary: 62;
  --primary-0: hsl(var(--hue-primary), calc(var(--sat-primary) * 1%), 0%);
  --primary-10: hsl(var(--hue-primary), calc(var(--sat-primary) * 1%), 15%);
  --primary-20: hsl(
    var(--hue-primary),
    calc(var(--sat-primary) * 1%),
    calc(((var(--light-primary) + 15) / 2) * 1%)
  );
  --primary-30: hsl(
    var(--hue-primary),
    calc(var(--sat-primary) * 1%),
    calc(var(--light-primary) * 1%)
  );
  --primary-40: hsl(
    var(--hue-primary),
    calc(var(--sat-primary) * 1%),
    calc(((var(--light-primary) + 70) / 2) * 1%)
  );
  --primary-50: hsl(var(--hue-primary), calc((var(--sat-primary) - 10) * 1%), 70%);
  --primary-60: hsl(var(--hue-primary), calc((var(--sat-primary) - 10) * 1%), 80%);
  --primary-70: hsl(var(--hue-primary), calc(var(--sat-primary) * 1%), 85%);
  --primary-75: hsl(var(--hue-primary), calc((var(--sat-primary) - 15) * 1%), 85%);
  --primary-80: hsl(var(--hue-primary), calc((var(--sat-primary) - 15) * 1%), 92%);
  --primary-90: hsl(var(--hue-primary), calc(var(--sat-primary) * 1%), 97%);
  --primary-100: hsl(var(--hue-primary), calc(var(--sat-primary) * 1%), 100%);
}
